/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "semantic-ui";
@import "semantic-ui/collections/menu";

/*homepage css*/

body{
    overflow-x: auto;
}

h1{
  color: #2c3d87;
  font-size: 5.35vh;
  text-align: center;
}

h2{
  color: #2c3d87;
  font-size: 3.9vh;
  text-align: center;
}

h3{
  color: #2c3d87;
}

h4{
  color: #2c3d87;
}

.landpage-image{
  height: 110%;
  background-image: asset-url("banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#sign_in_button{
  margin-left: 11vw;
  margin-right: 11vw;
}

#homepage_logo{
  margin-top: 10vh;
  max-height: 23vh;
  margin-bottom: -3.5vh;
}

#sign_in{
  background-color: #2c3d87;
}

#h2_col{
  margin-top: -3.5vh;
}

#user_label, #pass_label, #remember_label{
  color: #fafafa;
}

#header{
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

#form{
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s; /* Firefox < 16 */
  -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 4s; /* Opera < 12.1 */
  animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.right.floated.button{
  margin-top: -1vh;
}

/*user home css*/
a.item{
    font-size: 2.5vh;
}

.ui.inverted.blue.vertical.demo.visible.sidebar.menu{
    background-color: #344fc4;
    height: 100vh;
    width: 20vw;
    position: fixed;
    z-index: 1;
}

p.ui.segment{
    position:absolute;
    width: 100%;
    bottom: 0;
    font-size: 2vh;
    color: #fafafa;
    background-color: #344fc4;
}

.pusher{
    background-color: #ffffff;
    padding-top: 5vh;
    margin-left: 22vw;
    margin-right: 2vw;
}

.pusher h1{
    text-align: left;
    background-color: #ffffff;
}

.pusher h2{
    text-align: left;
}

.content p{
    font-size: 2.5vh;
}

.content .ui.button{
    font-size: 1.85vh;
}

.file{
    color: #95a5a6;
}

#files h4{
    margin-top: 7vh;
}

.more{
    text-align: center;
}

#thread{
    padding: 0;
    margin-bottom: 3vh;
    font-size: 2vh;
    line-height: 4vh;
    height: 20vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#send_message, #new_class_post, #new_club_post{
    margin-left: 2vw;
}

div.flag, div.delete{
    visibility: hidden;
}

.ui.segment.message{
    margin-top: -2vh;
}

.message:hover .flag{
    margin-top: -1vh;
    visibility: visible;
}

.message:hover .delete{
    margin-top: -1vh;
    visibility: visible;
}

.message:hover{
    background-color: #95a5a6
}

.dividing.header .sub.header{
    font-size: 3vh;
}

.classes{
    max-height: 30vh;
    overflow-y: scroll;
}

#user_valid_till_1i, #user_valid_till_2i, #user_valid_till_3i{
  display: inline-block;
  width: 31.5%;
}

#user_valid_till_3i{
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

.simple-calendar {
  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    font-size: 2vh;
    font-weight: bold;
    text-decoration: underline;
    color: #3498db;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {
    color: #cbd0d3;
  }
  .next-month {
    color: #cbd0d3;
  }
  .current-month {}

  .has-events {}

  .ui.header{
    text-align: center;
  }

  .prev{
    margin-right: 2vw;
  }

  .next{
    margin-left: 2vw;
  }
}
