<div class="ui form segment">
  <%= form_for(@role) do |f| %>
    <% if @role.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

        <ul>
        <% @role.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <div class="actions">
      <%= f.submit "Submit", :class => "ui button" %>
    </div>
  <% end %>

</div>
