<h1 class="ui blue header">
  <%= link_to 'New Role', new_role_path, :class => "ui right floated button" %>
  Roles
</h1>

<table class="ui celled striped selectable table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td><%= role.description %></td>
        <td><%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui right floated red button" %>
        <%= link_to 'Edit', edit_role_path(role), :class => "ui right floated blue button" %>
        <%= link_to 'Show', role, :class => "ui right floated green button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
