<div class="ui blue stacked segment">
  <h2 class="ui blue header">
    <%= link_to 'Back', roles_path, :class => "ui right floated button" %>
    <%= link_to 'Edit', edit_role_path(@role), :class => "ui blue right floated button" %>
    <%= @role.name %>
  </h2>

  <div>
    <%= @role.description %>
  </div>
</div>

<table class="ui celled striped selectable table">
  <thead>
    <tr>
      <th>List of Associated Users</th>
    </tr>
  </thead>

  <tbody>
    <% @role.users.each do |associated_user| %>
      <tr>
        <td>
          <%= associated_user.first_name + " " + associated_user.last_name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
