<h1 class="ui blue header">
  <%= link_to 'New Teacher list', new_teacher_list_path, :class => "ui right floated button" %>
  Teachers
</h1>
<h1>Listing Teacher Lists</h1>

<table class="ui celled striped selectable table">
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teacher_lists.each do |teacher_list| %>
      <tr>
        <td><%= teacher_list.title %></td>
        <td><%= @users.find(teacher_list.user_id).first_name + " " + @users.find(teacher_list.user_id).last_name %></td>
        <td><%= link_to 'Destroy', teacher_list, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui right floated red button" %>
        <%= link_to 'Edit', edit_teacher_list_path(teacher_list), :class => "ui right floated blue button" %>
        <%= link_to 'Show', teacher_list, :class => "ui right floated green button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
