<p>
  <strong>Title:</strong>
  <%= @teacher_list.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @teacher_list.user_id %>
</p>

<%= link_to 'Edit', edit_teacher_list_path(@teacher_list) %> |
<%= link_to 'Back', teacher_lists_path %>
