<div class="ui form segment">
  <%= form_for(@department) do |f| %>
    <% if @department.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@department.errors.count, "error") %> prohibited this department from being saved:</h2>

        <ul>
        <% @department.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="three fields">
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :current_size %>
        <%= f.number_field :current_size, min: 0 %>
      </div>
      <div class="field">
        <%= f.label :capacity %>
        <%= f.number_field :capacity, min: 0 %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "Submit", :class => "ui button" %>
    </div>
  <% end %>
</div>
