<% provide(:title, "Departments | " + current_user.username) %>

<h1 class="ui blue header">
  <%= link_to 'New Department', new_department_path, :class => "ui right floated button" %>
  Departments
</h1>

<table class="ui celled striped selectable table">
  <thead>
    <tr>
      <th class="center aligned">Name</th>
      <th class="center aligned">Current size</th>
      <th class="center aligned">Capacity</th>
      <th class="center aligned" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td class="left aligned"><%= department.name %></td>
        <td><%= department.current_size %></td>
        <td><%= department.capacity %></td>
        <td><%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui right floated red button" %>
        <%= link_to 'Edit', edit_department_path(department), :class => "ui right floated blue button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
