<h1 class="ui blue header">
  <%= link_to 'Back', departments_path, :class => "ui right floated button" %>
  Created Department
</h1>
<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>
<div class="ui blue stacked segment">
  <p>
    <strong>Name:</strong>
    <%= @department.name %>
  </p>

  <p>
    <strong>Current size:</strong>
    <%= @department.current_size %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= @department.capacity %>
  </p>
</div>
