<% provide(:title, "Department Associations | " + current_user.username) %>

<div class="ui vertical masthead center aligned segment">
  <h1>Listing Works Ins</h1>
  <table class="ui celled striped selectable table">
    <thead>
      <tr>
        <th class="center aligned" >Start date</th>
        <th class="center aligned" >End date</th>
        <th class="center aligned" >Department</th>
        <th class="center aligned" >User</th>
        <th class="center aligned"  colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @works_ins.each do |works_in| %>
        <tr>
          <td class="left aligned"><%= works_in.start_date %></td>
          <td><%= works_in.end_date %></td>
          <td><%= Department.find(works_in.department_id).name %></td>
          <td><%= works_in.user.first_name.to_s + " " + works_in.user.last_name.to_s %></td>

          <td><%= link_to 'Destroy', works_in, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui right floated red button" %>
          <%= link_to 'Edit', edit_works_in_path(works_in), :class => "ui right floated blue button" %>
          <%= link_to 'Show', works_in, :class => "ui right floated green button" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<%= link_to 'New Works in', new_works_in_path %>
