<h1>New Works In</h1>

<%= form_for(@works_in) do |f| %>
  <% if @works_in.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@works_in.errors.count, "error") %> prohibited this works_in from being saved:</h2>

      <ul>
      <% @works_in.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.datetime_select :end_date %>
  </div>
    -->
  <div class="field">
    <%= f.label :deparment_id %><br>
    <%= collection_select(:department_id, :department_id, Department.all, :id, :name, {prompt: true}, {:required => true}) %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= collection_select(:user_id, :user_id, User.all, :id, :first_name, {prompt: true}, {:required => true}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Back', works_ins_path %>
