<p>
  <strong>Start date:</strong>
  <%= @works_in.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @works_in.end_date %>
</p>

<p>
  <strong>Department:</strong>
  <%= Department.find(@works_in.department_id).name %>
</p>

<p>
  <strong>User:</strong>
  <%= @works_in.user.first_name + " " + @works_in.user.last_name %>
</p>

<%= link_to 'Edit', edit_works_in_path(@works_in) %> |
<%= link_to 'Back', works_ins_path %>
