<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @message.author_id %>
</p>

<p>
  <strong>Thread:</strong>
  <%= @message.thread_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<p>
  <strong>Flag:</strong>
  <%= @message.flag %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
