<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title))%></title>

  <%= favicon_link_tag 'MSHS_logo_with_white.png', type:'image/png' %>

  <%= stylesheet_link_tag    'jquery-ui', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'timepicker', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'jquery-ui', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'timepicker', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    <nav class="ui inverted blue vertical demo visible sidebar menu" data-no-turbolink>
      <%= link_to static_index_path do %>
        <h3 class="header item"><%= image_tag("new_logo_white.png") %></h3>
      <% end %>

      <%= link_to static_index_path, :class => "item" do %>
        <i class="home icon"></i>HOME
      <% end %>
      <%= link_to notifications_path, :class => "item" do %>
          <i class="content icon"></i>NOTIFICATIONS
      <% end %>

      <% if current_user.role_id != 2 %>

        <%= link_to class_view_path, :class => "item" do %>
          <i class="book icon"></i>MY CLASSES
        <% end %>

        <%= link_to club_view_path, :class => "item" do %>
          <i class="users icon"></i>MY CLUBS
        <% end %>

        <%= link_to group_view_path, :class => "item" do %>
          <i class="comments icon"></i>GROUPS
        <% end %>

        <%= link_to schedule_view_path, :class => "item" do %>
          <i class="calendar icon"></i>PERSONAL CALENDAR
        <% end %>

      <% else %>
        <!-- Class List is in Class Courses
        Group Lists is in Groups
        Roles is in Users
        Posts is in Class Courses? -->
        <%= link_to announcements_path, :class => "item" do %>
          <i class="comment icon"></i>ANNOUNCEMENTS
        <% end %>

        <%= link_to class_courses_path, :class => "item" do %>
          <i class="suitcase icon"></i>CLASSES AND CLUBS
        <% end %>

        <%= link_to subjects_path, :class => "item" do %>
          <i class="book icon"></i>SUBJECTS
        <% end %>

        <%= link_to departments_path, :class => "item" do %>
          <i class="university icon"></i>DEPARTMENTS
        <% end %>

        <%= link_to users_path, :class => "item" do %>
          <i class="user icon"></i>USERS
        <% end %>

        <%= link_to group_view_path, :class => "item" do %>
          <i class="comments icon"></i>GROUPS
        <% end %>

        <%#= link_to groups_path, :class => "item" do %>
        <!--
          <i class="users icon"></i>GROUPS
        <%# end %>-->

        <%#= link_to group_lists_path, :class => "item" do %>
        <!-- 
          <i class="content icon"></i>GROUP LISTS
        <%# end %>-->

        <%= link_to calendar_events_path, :class => "item" do %>
          <i class="calendar icon"></i>EVENTS
        <% end %>
      <% end %>

        <%= link_to destroy_user_session_path, class: "item", :method => :delete do %>
          <i class="sign out icon"></i>LOGOUT
        <% end %>
        <p class="ui segment"><i class="user icon"></i><%= current_user.username %></p>
    </nav>

    <div class="pusher">
      <%= yield %>
      <br>
      <br>
      <br>
    </div>

  <% else %>
    <%= yield %>
  <% end %>
</body>
</html>
