<div class="ui form segment">
  <%= form_for(@subject) do |f| %>
    <% if @subject.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

        <ul>
        <% @subject.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="two fields">
      <div class="field">
        <%= f.label :subject_name %>
        <%= f.text_field :subject_name %>
      </div>

      <div class="field">
        <%= f.label :department_id %>
        <%= collection_select(:department_id, :department_id, Department.all, :id, :name, {prompt: true}, {:class => "ui selection dropdown"}) %>
      </div>
    </div>
    <div class="inline field">
      <%= f.label :offered %>
      <%= f.check_box :offered, :class => "ui checkbox" %>
    </div>
    <div class="actions">
      <%= f.submit "Submit", :class => "ui button" %>
    </div>
  <% end %>
</div>
