<h1 class="ui blue header">
  <%= link_to 'New Subject', new_subject_path, :class=>"ui right floated button" %>
  Subjects
</h1>

<table class="ui celled striped selectable table">
  <thead>
    <tr>
      <th>Subject name</th>
      <th>Offered</th>
      <th>Department</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.subject_name %></td>
        <td>
          <% if subject.offered == true %>
            Yes
          <% else %>
            No
          <% end %>
        </td>
        <td><%= @department.find(subject.department_id).name %></td>
        <td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui right floated red button" %>
        <%= link_to 'Edit', edit_subject_path(subject), :class => "ui right floated blue button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
