<h1 class="ui blue header">
  <%= link_to 'Back', subjects_path, :class => "ui right floated button" %>
  Created Subject
</h1>
<p>
  <strong>Subject name:</strong>
  <%= @subject.subject_name %>
</p>


<div class="ui blue stacked segment">
  <p>
    <strong>Subject name:</strong>
    <%= @subject.subject_name %>
  </p>

  <p>
    <strong>Offered:</strong>
    <% if @subject.offered == true %>
      Yes
    <% else %>
      No
    <% end %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= @subject.department.name %>
  </p>
</div>
