<p id="notice"><%= notice %></p>

<h1>Listing Officers</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Position</th>
      <th>Class course</th>
      <th>From</th>
      <th>To</th>
      <th>Assigned by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @officers.each do |officer| %>
      <tr>
        <td><%= officer.user %></td>
        <td><%= officer.position %></td>
        <td><%= officer.class_course %></td>
        <td><%= officer.from %></td>
        <td><%= officer.to %></td>
        <td><%= officer.assigned_by %></td>
        <td><%= link_to 'Show', officer %></td>
        <td><%= link_to 'Edit', edit_officer_path(officer) %></td>
        <td><%= link_to 'Destroy', officer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Officer', new_officer_path %>
