<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @officer.user %>
</p>

<p>
  <strong>Position:</strong>
  <%= @officer.position %>
</p>

<p>
  <strong>Class course:</strong>
  <%= @officer.class_course %>
</p>

<p>
  <strong>From:</strong>
  <%= @officer.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @officer.to %>
</p>

<p>
  <strong>Assigned by:</strong>
  <%= @officer.assigned_by %>
</p>

<%= link_to 'Edit', edit_officer_path(@officer) %> |
<%= link_to 'Back', officers_path %>
