<h1 class="ui blue header">
  <%= link_to 'Back', group_view_path, "data-no-turbolink" => true, :class => "ui right floated button" %>
   <%= Subject.find(@class_course.subject_id).subject_name + " " + @class_course.name %> | <%= @group.group_name %>
</h1>

<div class="ui blue stacked segment">
    <h3 class="ui blue header">Add Members to group <%= @group.group_name %> </h3>

    <div class="ui form segment">
		<h4 class="ui blue header">Students: </h4>
		<%= form_tag group_view_add_user_from_group_path do %>
            <div class="ui segment" id="thread">
            <%= hidden_field_tag :group_id , @group.id %>
		      	<% @user_not_in_group.each do |user| %>
               	<div class="ui segment message">
			      <%= check_box_tag 'user_in_group[]', user.id %>
			      <%= user.first_name + " " + user.middle_name + " " + user.last_name %>
               	</div>
               	<% end %>
    		</div>

		<div class="ui one column stackable center aligned page grid">
			<div class="column twelve wide">
				<%= submit_tag 'Add Selected', :class => "ui blue button" %>
			</div>
		</div>
    </div>
	<% end %>
</div>

<div class="ui blue stacked segment">
    <h3 class="ui blue header">Remove Members from group <%= @group.group_name %> </h3>
    <div class="ui form segment">
		<h4 class="ui blue header">Students: </h4>

		<%= form_tag group_view_remove_user_from_group_path do %>

		<%= hidden_field_tag :group_id, @group.id %>

            <div class="ui segment" id="thread">
		      	<% @user_in_group.each do |user| %>
               	<div class="ui segment message">
			      <%= check_box_tag 'user_in_group[]', user.id %>
			      <%= user.first_name + " " + user.middle_name + " " + user.last_name %>
               	</div>
   				<% end %>
    		</div>

		<div class="ui one column stackable center aligned page grid">
			<div class="column twelve wide">
				<%= submit_tag 'Remove Selected', :class => "ui red button" %>
			</div>
		</div>
    </div>
	<% end %>
</div>
