<div class="ui dividing header">
    <h1 class="content">
        <% if current_user.admin? %>
            Manage All Class Groups <!--Club name-->
        <% elsif current_user.teacher? %>
            Manage Class Groups
        <% elsif current_user.student? %>
            View My Class Groups
        <% end %>
    </h1>
</div>

<% if current_user.admin? or current_user.teacher? %>
    <% @class_courses.each do |class_course| %>
        <h2 class="ui blue header">

        <%= link_to 'New Group', new_group_path, :class=>"ui right floated button" %>

        <%= class_course.name %>
        </h2>

        <% @groups = Group.where(:class_id => class_course.id) %>
        <% @groups.each do |group| %>
            <div class="ui blue stacked segment">
            <h3 class="ui blue header">

            <%= link_to group, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui right floated red button" do %>
                <i class="ui remove icon"></i>Delete
            <% end %>

            <%= link_to edit_group_path(group), :class => "ui right floated blue button" do %>
                <i class="ui pencil icon"></i>Edit
            <% end %>

            <%= link_to group_view_edit_student_lists_path(:group => group.id), :class => "ui right floated green button" do %>
                <i class="add sign box icon"></i>Add Students
            <% end %>

            Group: <%= group.group_name %></h3>
            <% @our_threads = ThreadMessage.where(:group_id => group.id) %>
            <% @our_threads.each do |our_thread| %>
                <div class="ui form segment">
                    <h4 class="ui blue header">Thread: <%= our_thread.thread_name %></h4>

                    <div class="ui segment" id="thread">
                        <% @messages = Message.where(:thread_id => our_thread.id) %>
                        <% @messages.each do |messages| %>

                        <div class="ui segment message">
                            <!--
                            <div class="ui right floated button flag">
                                <i class="flag icon"></i>
                                Flag
                            </div>
                            -->

                            <%= link_to  messages, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui right floated red button" do %>
                                <i class="ui remove icon"></i>Delete
                            <% end %>
                            <%= User.find_by_id(messages.author_id).name %>:
                            <%= messages.content %>

                        </div>
                        <% end %>
                    </div>

                    <%= form_for(@message) do |f| %>
                        <div class="inline fields">
                      <% if @message.errors.any? %>
                        <div id="error_explanation">
                          <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

                          <ul>
                          <% @message.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                          <% end %>
                          </ul>
                        </div>
                        <% end %>

                        <%= f.hidden_field :thread_id, :value => our_thread.id %>

                        <%= f.text_field :content, :placeholder => "Enter message..." %>

                        <div>
                        <%= f.submit :class => "ui right floated button", :style => "margin-top: 0px" %>
                        </div>
                    </div>
                    <% end %>
                </div>
            <% end %>
            <% if @our_threads.empty? %>
                <div class="ui form segment">
                    <h4 class="ui blue header">Not a single thread was made.</h4>
                </div>
            <% end %>
            <div class="ui one column stackable center aligned page grid">
               <div class="column twelve wide">
                    <%= link_to 'New Thread',new_thread_message_path,  :class=>"ui center floated button" %>
               </div>
            </div>
            <div class="center">
            </div>
            </div>

        <% end %>

        <% if @groups.empty? %>
            <div class="ui blue stacked segment">
                <h3 class="ui blue header">
                    Not a single group was made.
                </h3>
            </div>
        <% end %>


    <% end %>
    <% if @class_courses.empty? %>
    <div class="ui blue stacked segment">
        <h3 class="ui blue header">
            Not a single class was made.
        </h3>
    </div>
    <% end %>
<% else current_user.student? %>
    <% @class_courses.each do |class_course| %>
        <h2 class="ui blue header">
        <%= class_course.name %>
        </h2>

        <% @group_lists = GroupList.where(:user_id => current_user.id).pluck(:group_id) %>

        <% @groups = Group.where(:class_id => class_course.id) %>
        <% @groups.each do |group| %>
          <% if @group_lists.include? group.id %>
            <div class="ui blue stacked segment">
            <h3 class="ui blue header">

            Group: <%= group.group_name %></h3>
            <% @our_threads = ThreadMessage.where(:group_id => group.id) %>
            <% @our_threads.each do |our_thread| %>
                <div class="ui form segment">
                    <h4 class="ui blue header">Thread: <%= our_thread.thread_name %></h4>

                    <div class="ui segment" id="thread">
                        <% @messages = Message.where(:thread_id => our_thread.id) %>
                        <% @messages.each do |messages| %>
                        <div class="ui segment message">
                            <!--
                            <div class="ui right floated button flag">
                                <i class="flag icon"></i>
                                Flag
                            </div>
                            -->

                            <%= User.find_by_id(messages.author_id).name %>:
                            <%= messages.content %>
                        </div>
                        <% end %>
                    </div>

                    <%= form_for(@message) do |f| %>
                        <div class="inline fields">
                      <% if @message.errors.any? %>
                        <div id="error_explanation">
                          <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

                          <ul>
                          <% @message.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                          <% end %>
                          </ul>
                        </div>
                        <% end %>

                        <%= f.hidden_field :thread_id, :value => our_thread.id %>

                        <%= f.text_field :content, :placeholder => "Enter message..." %>

                        <div>
                        <%= f.submit :class => "ui right floated button", :style => "margin-top: 0px" %>
                        </div>
                    </div>
                    <% end %>
                </div>
            <% end %>
            <% if @our_threads.empty? %>
                <div class="ui form segment">
                    <h4 class="ui blue header">Not a single thread was made.</h4>
                </div>
            <% end %>
            </div>
          <% end %>
        <% end %>

        <% if @groups.empty? %>
            <div class="ui blue stacked segment">
                <h3 class="ui blue header">
                    Not a single group was made.
                </h3>
            </div>
        <% end %>
    <% end %>
    <% if @class_courses.empty? %>
    <div class="ui blue stacked segment">
        <h3 class="ui blue header">
            Not a single class was made.
        </h3>
    </div>
    <% end %>
<% end %>

<div class="ui dividing header">
    <h1 class="content">
        <% if current_user.admin? %>
            Manage All Club Groups <!--Club name-->
        <% elsif current_user.teacher? %>
            Manage Club Groups
        <% elsif current_user.student? %>
            View My Club Groups
        <% end %>
    </h1>
</div>




<% if current_user.admin? or current_user.teacher? %>
    <% @club_courses.each do |class_course| %>
        <h2 class="ui blue header">

        <%= link_to 'New Group', new_group_path, :class=>"ui right floated button" %>

        <%= class_course.name %>
        </h2>

        <% @groups = Group.where(:class_id => class_course.id) %>
        <% @groups.each do |group| %>
            <div class="ui blue stacked segment">
            <h3 class="ui blue header">

            <%= link_to group, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui right floated red button" do %>
                <i class="ui remove icon"></i>Delete
            <% end %>

            <%= link_to edit_group_path(group), :class => "ui right floated blue button" do %>
                <i class="ui pencil icon"></i>Edit
            <% end %>

            <%= link_to group_view_edit_student_lists_path(:group => group.id), :class => "ui right floated green button" do %>
                <i class="add sign box icon"></i>Add Students
            <% end %>

            Group: <%= group.group_name %></h3>
            <% @our_threads = ThreadMessage.where(:group_id => group.id) %>
            <% @our_threads.each do |our_thread| %>
                <div class="ui form segment">
                    <h4 class="ui blue header">Thread: <%= our_thread.thread_name %></h4>

                    <div class="ui segment" id="thread">
                        <% @messages = Message.where(:thread_id => our_thread.id) %>
                        <% @messages.each do |messages| %>
                        <div class="ui segment message">
                            <!--
                            <div class="ui right floated button flag">
                                <i class="flag icon"></i>
                                Flag
                            </div>
                            -->

                            <%= link_to  messages, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui right floated red button" do %>
                                <i class="ui remove icon"></i>Delete
                            <% end %>
                            <%= User.find_by_id(messages.author_id).name %>:
                            <%= messages.content %>
                        </div>
                        <% end %>
                    </div>

                    <%= form_for(@message) do |f| %>
                        <div class="inline fields">
                      <% if @message.errors.any? %>
                        <div id="error_explanation">
                          <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

                          <ul>
                          <% @message.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                          <% end %>
                          </ul>
                        </div>
                        <% end %>

                        <%= f.hidden_field :thread_id, :value => our_thread.id %>

                        <%= f.text_field :content, :placeholder => "Enter message..." %>

                        <div>
                        <%= f.submit :class => "ui right floated button", :style => "margin-top: 0px" %>
                        </div>
                    </div>
                    <% end %>
                </div>
            <% end %>
            <% if @our_threads.empty? %>
                <div class="ui form segment">
                    <h4 class="ui blue header">Not a single thread was made.</h4>
                </div>
            <% end %>
            <div class="ui one column stackable center aligned page grid">
               <div class="column twelve wide">
                    <%= link_to 'New Thread',new_thread_message_path,  :class=>"ui center floated button" %>
               </div>
            </div>
            <div class="center">

                    </div>
            </div>

        <% end %>

        <% if @groups.empty? %>
            <div class="ui blue stacked segment">
                <h3 class="ui blue header">
                    Not a single group was made.
                </h3>
            </div>
        <% end %>


    <% end %>
    <% if @club_courses.empty? %>
    <div class="ui blue stacked segment">
        <h3 class="ui blue header">
            Not a single class was made.
        </h3>
    </div>
    <% end %>

<% else current_user.student? %>
    <% @club_courses.each do |class_course| %>
        <h2 class="ui blue header">
        <%= class_course.name %>
        </h2>

        <% @groups = Group.where(:class_id => class_course.id) %>
        <% @groups.each do |group| %>
            <div class="ui blue stacked segment">
            <h3 class="ui blue header">

            Group: <%= group.group_name %></h3>
            <% @our_threads = ThreadMessage.where(:group_id => group.id) %>
            <% @our_threads.each do |our_thread| %>
                <div class="ui form segment">
                    <h4 class="ui blue header">Thread: <%= our_thread.thread_name %></h4>

                    <div class="ui segment" id="thread">
                        <% @messages = Message.where(:thread_id => our_thread.id) %>
                        <% @messages.each do |messages| %>
                        <div class="ui segment message">
                        <!--
                            <div class="ui right floated button flag">
                                <i class="flag icon"></i>
                                Flag
                            </div>
                            -->

                            <%= link_to  messages, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui right floated red button" do %>
                                <i class="ui remove icon"></i>Delete
                            <% end %>
                            <%= User.find_by_id(messages.author_id).name %>:
                            <%= messages.content %>
                        </div>
                        <% end %>
                    </div>

                    <%= form_for(@message) do |f| %>
                        <div class="inline fields">
                      <% if @message.errors.any? %>
                        <div id="error_explanation">
                          <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

                          <ul>
                          <% @message.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                          <% end %>
                          </ul>
                        </div>
                        <% end %>

                        <%= f.hidden_field :thread_id, :value => our_thread.id %>

                        <%= f.text_field :content, :placeholder => "Enter message..." %>

                        <div>
                        <%= f.submit :class => "ui right floated button", :style => "margin-top: 0px" %>
                        </div>
                    </div>
                    <% end %>
                </div>
            <% end %>
            <% if @our_threads.empty? %>
                <div class="ui form segment">
                    <h4 class="ui blue header">Not a single thread was made.</h4>
                </div>
            <% end %>
            </div>
        <% end %>

        <% if @groups.empty? %>
            <div class="ui blue stacked segment">
                <h3 class="ui blue header">
                    Not a single group was made.
                </h3>
            </div>
        <% end %>
    <% end %>
    <% if @club_courses.empty? %>
    <div class="ui blue stacked segment">
        <h3 class="ui blue header">
            Not a single class was made.
        </h3>
    </div>
    <% end %>
<% end %>
