@keyframes slideInLeft{
	from{
		margin-left:-50vw;
		opacity:0;
	}
}


@keyframes slideInRight{
	from{
		margin-right:-50vw;
		opacity:0;
	}
}

@keyframes slideOutLeft{
	to{
		left:-50vw;
		opacity:0;
	}
}

@keyframes slideOutRight{
	to{
		left:100vw;
		opacity:0;
	}
}

@keyframes fadeIn{
	from{
		opacity:0;
	}
}


@keyframes showSignIn{
	from{
		right:-300px;
	}
	to{
		right:0px;
	}
}

@keyframes hideSignIn{
	from{
		right:0px;
	}
	to{
		right:-300px;
	}
}