/*
Banner Section
=======================================*/
.banner{
	min-height:100vh;
	width:100vw;
	background:url('../img/banner.png') no-repeat center;
	background-size:cover;
	font-family: 'Libre Baskerville', serif;
}

.banner-header{
	display:flex;
	width:100vw;
	align-items:center;
	position:absolute;
	top:30%;
	animation: slideInLeft 1s 0.25s ease;
}

	.banner .logo {
    	background-color: #2d3d87;
    	display: inline-flex;
    	align-items:center;
    	width:40%;
    	
	}

		.banner .logo h1{
			display:inline-block;
			color:white;
			margin:0px;
			font-family: 'Libre Baskerville', serif;
		}

	.banner .tagline{
		background-color: rgba(45,61,135,0.4);
		display:inline-block;
		text-align: right;
		width:60%;
		margin-left:10px;
		font-family: 'Libre Baskerville', serif;
	}
		.tagline h2, .tagline h3{
			display:inline-block;
			color:#ececec;
			margin:0px;
		}

		.tagline b{
			color:white;
		}

	.banner .nav_buttons{
		position:absolute;
		bottom: 10%;
		text-align:center;
		display:block;
		width:100vw;
		animation: fadeIn 1.5s linear;
	}
		.nav_buttons button{
		    border: 1px solid #2D3D87;
		    width: 200px;
		    background: rgba(45,61,135,0.9);
		    color: #FFFFFF;
		    transition: all 0.25s ease;
		}

		.nav_buttons .sign_in{
			background: rgba(45,61,135,0.45);
		}

		.nav_buttons button:hover{
			background: rgba(45,61,135,0.9);
			font-weight:bold;
		}


#banner-left, #banner-right{
	width:50vw;	
	height:100vh;
	position:fixed;
	overflow:hidden;
	z-index: 1000;
}

#banner-left{
	left:0px;
	top:0px;
}

#banner-right{
	left:50vw;
	top:0px;
}
	#banner-right .banner{
		position:absolute;
		right:0px;
	}



/*End of Banner*/


/*Responsiveness at xs screens*/
@media(min-width:320px){

}

/*Responsiveness at normal phone screens*/
@media(min-width:480px){

		/*Banner Section Sizes*/
		.banner .logo{
			padding:2.5px 15px;
		}
		.banner .logo img{
			width:55px;
		}

		.banner .logo h1{
			font-size:3.5em;

		}
		.banner .tagline h2, .banner .tagline h3{
			padding: 5px 5px;
		}
		.banner .tagline h2{
			font-size:1.75em;
		}

		.banner .tagline h3{
			font-size:1.5em;
		}

		.banner .nav_buttons button{
			font-size:1.25em;
			margin:5px;
		}


}

/*Responsiveness at tablet screens*/
@media(min-width:768px){

	/*Banner Section Sizes*/
		.banner .logo{
			padding:5px 20px;
		}
		.banner .logo img{
			width:80px;
		}

		.banner .logo h1{
			font-size:5em;

		}

}

@media(mmin-width:1000px){
	/*Banner Section Sizes*/
		.banner .logo{
			padding:5px 20px;
		}
		.banner .logo img{
			width:100px;
		}

		.banner .logo h1{
			font-size:7em;

		}
		.banner .tagline h2, .banner .tagline h3{
			padding: 5px 10px;
		}
		.banner .tagline h2{
			font-size:2.5em;
		}

		.banner .tagline h3{
			font-size:2em;
		}

		.banner .nav_buttons button{
			font-size:1.75em;
			margin:5px;
		}
}

/*Responsiveness at desktop size screens  */
@media(min-width:1200px){
	/*Banner Section Sizes*/
		.banner .logo{
			padding:5px 35px;
		}
		.banner .logo img{
			width:120px;
		}

		.banner .logo h1{
			font-size:8.25em;

		}
		.banner .tagline h2, .banner .tagline h3{
			padding: 5px 20px;
		}
		.banner .tagline h2{
			font-size:3em;
		}

		.banner .tagline h3{
			font-size:2.5em;
		}

		.banner .nav_buttons button{
			font-size:2em;
			margin:5px;
		}

}
