/* Carousel base class */
.carousel {
  min-height:500px;
  height: 100%;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 100%;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}

.carousel-inner{
  height:100%;
}

.carousel-inner> .item{
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}


/*Header article
======================================*/
.heading{
  background:#f7f7f7;
  padding:0px 0px !important;
}

.heading-container{
  position:relative;
}

.heading-container h1{
  font-family: 'Libre Baskerville',serif;
  font-size: 48px;
  color: #fff;
  background:rgba(44,61,135,0.75);
  position:absolute;
  bottom:0;
  margin:0px;
  display:block;
  width:100%;
  padding:15px;
  text-align:center;
}

.heading-container img{
  width:100%;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.heading p{
    padding: 30px 30px 15px 30px;
    text-align: justify;
    font-size: 18px;
    text-indent: 50px;
}

.heading i{
  display:inline;
  font-size:2em;
}

.heading-footer{
      padding: 10px 30px;
    border-top: 1px solid #ccc;
    margin: 0px 30px;
}

.heading-footer .col-xs-5{
  text-align:right;
}
.heading a:hover, .heading i:hover{
  text-decoration:none;
}
/*====================================*/


/*Articles
======================================*/
#articles{
  background:#fbfbfb;
  padding-top:50px;
}

#articles h1{
      text-align: center;
    color: #2C3D87;
    font-size: 3em;
    font-family: 'Libre Baskerville',serif;
}


.article .jumbotron{
  padding:15px;
  background: #E3E9FF;
}


.article h3{
      margin: 15px;
    color: #2C3D87;
    text-align: center;
    font-family: 'Libre Baskerville',serif;
}

.article p{
  font-size: 15px;
    font-weight: normal;
    color: #4E4E4E;
}

.article p{
  
}

.article-footer{
  text-align:center;
  display:inline-block;
  width:100%;
}


/*====================================*/

/*Upcoming Events
======================================*/

.upcoming h3{
    color: #2C3D87;
    text-align: center;
    font-family: 'Libre Baskerville',serif;
}

.upcoming li{
  font-size:16px;
}


.upcoming{
      background-color: #E3E9FF;
      padding: 30px 30px !important;
      margin-top:15px;
}



/*=====================================*/

/*Footer
======================================*/
footer{
  background:#e9e9e9;
  margin-bottom:0px;
  padding:75px 40px;
}
/*====================================*/