header{
	font-family: "Libre Baskerville", serif;
	text-align: center;
    background: #FAFBFF;
    padding: 45px 15px;
    color: #2C3D87;
    position:relative;
}

	header img{
		position: absolute;
		top:5%;
		z-index:1;
		height:90%;
		opacity:0.2;
		left:43%;

	}

	header h1{
		font-size: 45px;
    	font-weight: 400;
	}

	header h2{
		font-size: 35px;
    	margin: 0px;
	}