.mynav{
	background: #2C3D87;
    border-radius: 0px;
    border-color: none;
    border-width:0px;
    font-family: "Libre Baskerville",serif;
    margin:0px;
}

.mynav .navbar-brand{
	display:none;
}

	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	    color: #2C3D87;
	    background-color: #CFD4E8;
	    font-weight:bold;
	    display:inline-block;
	}
	.navbar-nav>.active:after, .navbar-default .navbar-nav>.active:after{
		content: '';
	    display: block;
	    height: 3px;
	    width: 0;
	    position: absolute;
	    background: #CFD4E8;
	    transition: width .5s ease, background-color .5s ease;
	    bottom: 0px;
	}

	.navbar-nav>.active:hover:after, .navbar-default .navbar-nav>.active:hover:after{
		width: 100%;
		background: #0C1F75;
	}
.navbar-fixed{
	position:fixed;
	top:0px;
	width:100%;
	z-index: 100;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
    font-weight:normal;
}
	.navbar-default .navbar-nav>li:after{
		content: '';
	    display: block;
	    height: 3px;
	    width: 0;
	    position: absolute;
	    background: #CFD4E8;
	    transition: width .5s ease, background-color .5s ease;
	    bottom: 0px;
	}
	.navbar-default .navbar-nav>li:hover:after{
		width: 100%;
		background: #0C1F75;
	}

#content-sign-in{

}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #FFF;
    font-weight: bold;
    background: #6878B9;
}