#sign-in{
	background-color: rgba(20,32,86,0.95);
	height:100%;
	position:fixed;
	top:0px;
	right:-300px;
	width:20%;
	min-width:300px;
	display:flex;
	align-items:center;
	justify-content:center;
	color:white;
	z-index:1000;

}

#sign-in .container-fluid{
	margin-top:-50px 0px 0px 0px;
	padding:10px;
}

#sign-in form{
	text-align:center;
}	
	#sign-in input{
		border-radius: 0px;
	    background: rgba(255,255,255,0.2);
	    color: white;
	}

	#sign-in form .form-sign-in{
		border-radius:0px;

	}

	#inputUsername{
		margin-bottom:10px;
	}
	

	#sign-in .cancel{
		fill:whitesmoke;
		border:2px solid whitesmoke;
		padding:3px;
		position:absolute;
		top:20px;
		right:20px;
		transition: all 0.5s ease;
	}

	#sign-in .cancel:hover{
		background:white;
		fill: rgba(20,32,86,0.95);
		cursor: pointer;
	}

#sign-in .logo{
	width:100%;
}


/*Responsiveness at xs screens*/
@media(min-width:320px){

}

/*Responsiveness at normal size phone screens*/
@media(min-width:480px){

}

/*Responsiveness at tablet screens*/
@media(min-width:768px){
}

/*Responsiveness at desktop size screens  */
@media(min-width:1200px){
}