/*
Palette
=======================
Main Blue: #2D3D87;
darkblue : background-color: rgba(20,32,86,0.95);
bluer: #0C1F75;
*/

/*Fonts*/
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,900);
@import url(https://fonts.googleapis.com/css?family=Allerta);


.fullscreen{
	min-height:100vh;
	width:100%;
}

.center-content{
	display:flex;
	align-items:center;
	justify-content:center;
}


/*Responsiveness at xs screens*/
@media(min-width:320px){

}

/*Responsiveness at normal size phone screens*/
@media(min-width:480px){

}

/*Responsiveness at tablet screens*/
@media(min-width:768px){
}

/*Responsiveness at desktop size screens  */
@media(min-width:1200px){
}