<h1 class="ui blue header">
  <% if current_user.admin? %>
    <%= link_to new_announcement_path, class: "ui right floated button", :method => :get, "data-no-turbolink": true do %>
      New Announcement
    <% end %>
  <% end %>
  Announcements
</h1>

<div class="ui blue stacked segment">
    <% @announcements.each do |announcement| %>
      <h3 class="ui blue header"><%= announcement.title %></h3>
      <p>
          <%= announcement.body %>
      </p>
      <div class="ui blue divider"></div>
    <% end %>

    <%= link_to announcements_path, :method => :get do %>
      Show more...
    <% end %>
</div>

<h1 class="ui blue header">
  <%= link_to new_calendar_event_path, :method => :get do %>
    <div class="ui right floated button" data-no-turbolink>
      New Event
    </div>
  <% end %>
  Calendar of Events
</h1>

<% if @calendar_events == [] %>
  <%= month_calendar do |date| %>
    <%= date.day %>
  <% end %>

<% else %>

  <%= month_calendar events:@calendar_events, attribute: :start_time do |date, calendar_events| %>
    <%= date.day %>
    <% calendar_events.each do |calendar_event| %>
      <div>
        <%= calendar_event.title %>
      </div>
    <% end %>

  <% end %>

<% end %>
</div>
