<div class="ui form segment">
  <%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :caption %>
      <%= f.text_area :caption %>
    </div>

    <% if @announcement == "false" %>
      <div>
        <%= f.file_field :document%>
       <br>
       <br>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit 'Submit', :class => "ui button" %>
    </div>
  <% end %>
</div>
