<h1>Listing Posts</h1>

<table class="ui celled striped table">
  <thead>
    <tr>
      <th>User</th>
      <th>Caption</th>
       <th>Document</th>
       <th>Class Course</th>
       <th>File Extension</th>
       <th>File Size(Kb)</th>
       <th>Download</th>
       <th>Action</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= User.find(post.user_id).nil? ? "No Author" : User.find(post.user_id).first_name + " " + User.find(post.user_id).last_name %></td>
        <td><%= post.caption %></td>
        <td><%= image_tag post.document.url(:thumb) %></td>
        <td><% if !post.class_course_id.nil? %>
              <%= ClassCourse.find(post.class_course_id).nil? ? "No Class Course Found" : ClassCourse.find(post.class_course_id).name %>
              <% else %>
                No Class Course Assigned
              <% end %>
        </td>
        <td><%= post.document_content_type %></td>
        <td><%= post.document_file_size %></td>
        <td><%= link_to "Download", post.document.url(:original, false) %></td>
        <td><%= link_to 'Show', post %></td>
        <% if post.user_id == current_user.id %>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
