<h1 class="ui blue header">
  <%= link_to 'Back', "/class_courses/" + @id.to_s, :class => "ui right floated button", 'data-no-turbolink' => true %>
  <%= @post.caption %>
</h1>

<div class="ui blue stacked segment">
  <% if @post.document_file_name == nil %>
    (Class Announcement)
  <% else %>
    <%= image_tag @post.document.url(:medium) %>
  <% end %>
  <div class="ui blue divider"></div>
  <strong>By: </strong><%= @post.user.first_name + " " + @post.user.last_name %><br>
  <strong>File Size: </strong><%= @post.document_file_size %> KB
  <div class="ui blue divider"></div>
  <%= link_to "View", @post.document.url(:original, false), :class => "ui button" %>
</div>
