<%= form_for(@calendar_event) do |f| %>
  <% if @calendar_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calendar_event.errors.count, "error") %> prohibited this calendar_event from being saved:</h2>

      <ul>
      <% @calendar_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ui blue form segment">
    <h4 class="ui header">New Event</h4>
    <div class="three fields">
      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title, :placeholder => "Title" %>
      </div>
      <div class="field">
        <%= f.label :event_type %><br>
        <%= f.select :event_type, ['Personal', 'Class', 'Club', 'System'], {}, {:class => "ui selection dropdown"} %>
      </div>
      <div class="field">
        <%= f.label :start_date %><br>
        <%= f.text_field :start_time, :class => "datepicker" %>
      </div>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description, :rows => 10 %>
    </div>

    <div class="actions">
      <%= f.submit 'Submit', data: { confirm: 'Are you sure you want to submit?' }, :class => "ui button" %>
    </div>
  </div>
<% end %>
