<%= form_for(@class_list) do |f| %>
  <% if @class_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@class_list.errors.count, "error") %> prohibited this class_list from being saved:</h2>

      <ul>
      <% @class_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
  	<% our_number = Role.where(name: "Students") %>
    <%= collection_select(:user_id, :user_id, User.all.where(role_id: our_number), :id, :last_name, {prompt: true}, {:required => true}) %>
  </div>

  <div class="field">
    <%= f.label :class_courses_id %><br>
    <%= collection_select(:class_courses_id, :class_courses_id, ClassCourse.all, :id, :name, {prompt: true}, {:required => true}) %>
  </div>

  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
