<h1>Listing Class Lists</h1>

<table class="ui celled striped table">
  <thead>
    <tr>
      <th>User</th>
      <th>Class courses</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @class_lists.each do |class_list| %>
      <tr>

        <td><%= class_list.user.nil? ? "No User Found" : (class_list.user.first_name + " " + class_list.user.last_name) %></td>
        <td><%= class_list.user.nil? ? "Class Course Not Found" : ClassCourse.find(class_list.class_course_id).name %></td>
        <td><%= class_list.status %></td>
        <td><%= link_to 'Destroy', class_list, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui right floated red button" %>
        <%= link_to 'Edit', edit_class_list_path(class_list), :class => "ui right floated blue button" %>
        <%= link_to 'Show', class_list, :class => "ui right floated green button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Class list', new_class_list_path %>
