<h1 class="ui blue header">
  <%= link_to 'Back', class_courses_path, "data-no-turbolink" => true, :class => "ui right floated button" %>
  Edit Class List
</h1>

<%= form_tag class_lists_new_class_lists_path do %>
  <% @users.each do |user| %>
    <p>
      <%= check_box_tag 'users[]', user.id %>
      <%= user.first_name + " " + user.middle_name + " " + user.last_name %>
    </p>
  <% end %>
  <%= submit_tag 'Add Selected', :class => "ui button" %>
<% end %>
