<p>
  <strong>User:</strong>
  <%= @class_list.user.nil? ? "No User Found" : @class_list.user.first_name + " " + @class_list.user.last_name %>
</p>

<p>
  <strong>Class courses:</strong>
  <%= @class_list.class_courses_id.nil? ? "None" : ClassCourse.find(@class_list.class_courses_id).name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @class_list.status %>
</p>

<%= link_to 'Edit', edit_class_list_path(@class_list) %> |
<%= link_to 'Back', class_lists_path %>
