<h2 class="ui blue header" id="pc">Club Calendar</h2>
<% if @calendar_events == [] %>
  <%= month_calendar do |date| %>
    <%= date.day %>
  <% end %>
<% else %>
  <%= month_calendar events:@calendar_events, attribute: :start_time do |date, calendar_events| %>
    <%= date.day %>
    <% calendar_events.each do |calendar_event| %>
			<% if calendar_event.event_type == "class" %>
	      <div>
	        <%= calendar_event.title %>
	      </div>
			<% end %>
    <% end %>
  <% end %>
<% end %>

<h2 class="ui blue header">
  List of Clubs
</h2>
<div class="ui blue stacked segment">
  <% @clubs.each do |c| %>
    <%= button_to "View", club_view_view_club_path, params: { class_course_id: c["class_course_id"].to_s }, :class => "ui green right floated button" %>
    <%= c["name"] + " " + c["subject_name"] %>
    <div class="ui blue divider"></div>
  <% end %>
</div>
