<div class="simple-calendar">
  <div class="ui header">
    <%= link_to "Previous", calendar.url_for_previous_view, :class => "prev" %>
    <%= I18n.t("date.month_names")[start_date.month] %> <%= start_date.year %>
    <%= link_to "Next", calendar.url_for_next_view, :class => "next"%>
  </div>

  <table class="ui celled striped table">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= I18n.t("date.abbr_day_names")[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                <% capture_haml do %>
                  <% block.call day, sorted_events.fetch(day, []) %>
                <% end %>
              <% else %>
                <% block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<table class="ui celled striped selectable table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if sorted_events != {} %>
      <% sorted_events.each do |calendar_event| %>
        <% if calendar_event[0].strftime("%B") == I18n.t("date.month_names")[start_date.month] && calendar_event[0].strftime("%Y") == start_date.year.to_s %>
          <% calendar_event[1].each do |c| %>
            <tr>
              <td><%= c.start_time.strftime("%B %d, %Y") %></td>
              <td><%= c.title %></td>
              <td><%= c.description %></td>
              <% if Role.find(current_user.role_id.to_s).name != "Students" || (Role.find(current_user.role_id.to_s).name != "Students" && c.event_type == "Personal") %>
                <td><%= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui right floated red button"%>
                <%= link_to 'Edit', edit_calendar_event_path(c), :class => "ui right floated blue button" %></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
