<% provide(:title, "Notification | " + current_user.username) %>


<h1 class="ui blue header">All Notifications</h1>
<div class="ui blue stacked segment">
    <% @notifications.each do |notification| %>

      <% if notification.identifier == 1 %>
        <%= button_to "#{User.find(notification.subscribed_user_id).first_name} #{User.find(notification.subscribed_user_id).last_name} posted #{Post.find(notification.post_id).caption} in #{ClassCourse.find(notification.class_course_id).name} #{time_ago_in_words(notification.created_at)} ago", notifications_read_post_path,
        params: { id: notification.id.to_s }, :class => "ui button" %>
      <% elsif notification.identifier == 2 %>
        <%= button_to "#{User.find(notification.subscribed_user_id).first_name} #{User.find(notification.subscribed_user_id).last_name} edited a file in #{ClassCourse.find(notification.class_course_id).name} #{time_ago_in_words(notification.created_at)} ago", notifications_read_post_path,
        params: { id: notification.id.to_s }, :class => "ui button" %>
      <% elsif notification.identifier == 3 %>
        <%= button_to "#{User.find(notification.subscribed_user_id).first_name} #{User.find(notification.subscribed_user_id).last_name} deleted a file in #{ClassCourse.find(notification.class_course_id).name} #{time_ago_in_words(notifi00000cation.created_at)} ago", notifications_read_post_path,
        params: { id: notification.id.to_s }, :class => "ui button" %>
      <% elsif notification.identifier ==4 %>
        <%= button_to "#{User.find(notification.subscribed_user_id).first_name} #{User.find(notification.subscribed_user_id).last_name} posted an Announcement #{time_ago_in_words(notification.created_at)} ago", notifications_read_post_path,
        params: { id: notification.id.to_s }, :class => "ui button" %>
      <% elsif notification.identifier ==5 %>
        <%= button_to "#{User.find(notification.subscribed_user_id).first_name} #{User.find(notification.subscribed_user_id).last_name} edited an Announcement #{time_ago_in_words(notification.created_at)} ago", notifications_read_post_path,
        params: { id: notification.id.to_s }, :class => "ui button" %>
      <% elsif notification.identifier ==6 %>
        <%= button_to "#{User.find(notification.subscribed_user_id).first_name} #{User.find(notification.subscribed_user_id).last_name} edited an Announcement #{time_ago_in_words(notification.created_at)} ago", notifications_read_post_path,
        params: { id: notification.id.to_s }, :class => "ui button" %>
      <%end%>
      <div class="ui blue divider"></div>
     <%end%>
</div>
