<% provide(:title, "Notification | " + current_user.username) %>

<div class="ui vertical masthead center aligned segment">
  <h1>Listing Departments</h1>
  <table class="ui celled selectable right aligned table">
    <thead>
      <tr>
        <th class="center aligned">Sender</th>
        <th class="center aligned">Kind</th>
        <th class="center aligned">File</th>
        <th class="center aligned">From</th>
        <th class="center aligned">Time Ago</th>
        <th class="center aligned" colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @notifications.each do |notification| %>
        <tr>
          <td class="left aligned"><%= User.find(notification.subscribed_user).username %></td>
          <td class="left aligned"><%= notification.kind %> <%=Post.find(notification.post_id).caption%> at </td>
          <td class="left aligned"><%= ClassCourse.find(notification.class_course).name %></td>
          <td class="left aligned"><%= time_ago_in_words(notification.created_at) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
  <br>


