<div class="ui blue form segment">
  <%= form_for(@group) do |f| %>
    <% if @group.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

        <ul>
        <% @group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="three fields">
      <div class="field">
        <%= f.label :group_name %><br>
        <%= f.text_field :group_name %>
      </div>
      <div class="field">
        <%= f.label :group_description %><br>
        <%= f.text_field :group_description %>

      </div>
      <div class="field">
        <%= f.label :class_id %><br>
        <% if current_user.admin? %>
          <%= collection_select(:group, :class_id, ClassCourse.all, :id, :name, {prompt: true}, {:class => "ui selection dropdown"}) %>
        <% elsif current_user.teacher? %>

          <%= collection_select(:group, :class_id, ClassCourse.where(:teacher_id => current_user.id), :id, :name, {prompt: true, :selected => 1 }, {:class => "ui selection dropdown"}) %>
        <% end %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "Submit", :class => "ui button" %>
    </div>
  <% end %>
</div>
