<h1 class="ui blue header">
  <%= link_to 'New Group', new_group_path, :class=>"ui right floated button" %>
  Groups
</h1>

<table class="ui celled striped selectable table">
  <thead>
    <tr>
      <th>Group name</th>
      <th>Group description</th>
      <th>Class</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.group_name %></td>
        <td><%= group.group_description %></td>
        <td><%= Subject.find_by_id(ClassCourse.find_by_id(group.class_id).subject_id).subject_name + " " + ClassCourse.find_by_id(group.class_id).name %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui right floated red button" %>
        <%= link_to 'Edit', edit_group_path(group), :class => "ui right floated blue button"%>
        <%= link_to 'Show', group, :class => "ui right floated green button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
