<div class="ui blue segment">
  <h2 class="ui blue header">
    <%= link_to 'Back', groups_path, :class => "ui right floated button" %>
    <%= link_to 'Edit', edit_group_path(@group), :class => "ui blue right floated button" %>

    <%= @group.group_name %>
    (for 
    <%= Subject.find(ClassCourse.find(@group.class_id).subject_id ).subject_name.to_s + " " + ClassCourse.find(@group.class_id).name.to_s %>)
  </h2>
  <p>
    <%= @group.group_description %>
  </p>
</div>
<!-- 
<p>
  <strong>Group name:</strong>
  <%#= @group.group_name %>
</p>

<p>
  <strong>Group description:</strong>
  <%#= @group.group_description %>
</p>

<p>
  <strong>Class:</strong>
  <%#= @group.class_id %>
</p>


<%#= link_to 'Edit', edit_group_path(@group) %> |
<%#= link_to 'Back', groups_path %>
-->