<%= form_for(@announcement) do |f| %>
  <% if @announcement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>

      <ul>
      <% @announcement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ui blue form segment">
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
      <!-- The author_id here is automatically assigned to the current user. For that reason, there is no need for this div block. -->
      <!--
      <div class="field">
        <%#= f.label :author_id %>
        <%#= f.select(:author_id, options_from_collection_for_select(@users, 'id', 'name'), {}, {:class => "ui selection dropdown"}) %>
      </div>
      -->
    <div class="field">
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>
    <!--
    <div class="field">
      <%= f.label :edit_time %><br>
      <%= f.datetime_select :edit_time %>
    </div>
    -->

    <div class="actions">
      <%= f.submit "Submit", :class => "ui button" %>
    </div>
  </div>
<% end %>
