<h1 class="ui blue header">
  <% if current_user.admin? %>
    <%= link_to 'New Announcement', new_announcement_path, :class => "ui right floated button" %>
  <% end %>
  Announcements
</h1>


<% @announcements.each do |announcement| %>
  <div class="ui blue stacked segment">
    <h3 class="ui blue header">
    <% if current_user.admin? %>
      <%= link_to 'Destroy', announcement, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui red right floated button" %>
      <%= link_to 'Edit', edit_announcement_path(announcement), {:class => "ui blue right floated button"} %>

    <% end %>
    <%= announcement.title %></h3>




    <p>
      <% if current_user.admin? %>
        <strong>Author: </strong>
        <% author = User.find_by_id(announcement.author_id) %>
        <%= author.nil? ? "No Author" : author.first_name + " " + author.last_name %><br>

        <strong>Date Modified: </strong><%= announcement.edit_time %><br>
        <strong>Visibility: </strong>
        <% if announcement.visibility == true %>
          Visible
        <% else %>
          Hidden
        <% end %>
        <br>
      <% end %>
    </p>
    
    <div class="ui blue divider"></div>
    <p>
      <% if current_user.admin? %>
      <strong>Body: </strong>     
      <% end %>     
      <%= announcement.body[0..49] %>
      <% if announcement.body.length() >= 50 %>
      ... <%= link_to 'Continue Reading', announcement %>
      <!-- , :class => "ui green right floated button" -->
      <% end %>
      <br>
    </p>
  </div>
<% end %>


<!--
<td><%#= link_to 'Destroy', announcement, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui red right floated button" %>
<%#= link_to 'Edit', edit_announcement_path(announcement), :class => "ui blue right floated button" %>
<%#= link_to 'View More', announcement, :class => "ui green right floated button" %></td>
-->
