<div class="ui blue stacked segment">
  <h2 class="ui blue header">
    <%= link_to 'Back', announcements_path, :class=>"ui right floated button" %>
    <% if current_user.admin? %>
      <%= link_to 'Edit', edit_announcement_path(@announcement), {:class => "ui blue right floated button"} %>
    <% end %>
    <%= @announcement.title %></h2>
<p>
  <% if current_user.admin? %>
    <strong>Author: </strong>
    <% author = User.find_by_id(@announcement.author_id) %>
    <%= author.nil? ? "No Author" : author.first_name + " " + author.last_name %><br>

    <strong>Date Modified: </strong><%= @announcement.edit_time %><br>
    <strong>Visibility: </strong>
    <% if @announcement.visibility == true %>
      Visible
    <% else %>
      Hidden
    <% end %>
    <br>
  <% end %>
</p>

<div class="ui blue divider"></div>
<p>
  <% if current_user.admin? %>
  <strong>Body: </strong>     
  <% end %>     
  <%= @announcement.body %>
  <br>
</p>
</div>
