<%= form_for(@group_list) do |f| %>
  <% if @group_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_list.errors.count, "error") %> prohibited this group_list from being saved:</h2>

      <ul>
      <% @group_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :user_id %><br>
    <%= collection_select(:user_id, :user_id, User.all, :id, :first_name, {prompt: true}, {:required => true}) %>
  </div>


  <div class="field">
    <%= f.label :group_id %><br>
    <%= collection_select(:group_id, :group_id, Group.all, :id, :group_name, {prompt: true}, {:required => true}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
