<h1 class="ui blue header">
  <%= link_to 'New Group list', new_group_list_path, :class => "ui right floated button" %>
  Group Lists
</h1>

<table class="ui celled striped selectable table">
  <thead>
    <tr>
      <th>User</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group_lists.each do |group_list| %>
      <tr>
        <td><%= group_list.user_id %></td>
        <td><%= group_list.group_id %></td>
        <td><%= link_to 'Destroy', group_list, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui right floated red button" %>
        <%= link_to 'Edit', edit_group_list_path(group_list), :class => "ui right floated blue button" %>
        <%= link_to 'Show', group_list, :class => "ui right floated green button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
