<p>
  <strong>User:</strong>
  <%= @group_list.user_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @group_list.group_id %>
</p>

<%= link_to 'Edit', edit_group_list_path(@group_list) %> |
<%= link_to 'Back', group_lists_path %>