<%= link_to new_calendar_event_path, class: "ui right floated button", "data-no-turbolink": true do %>
  New Event
<% end %>
<h1 class="ui blue header"><%= current_user.first_name %>'s Personal Calendar</h1>

<% if @calendar_events == [] %>
  <%= month_calendar do |date| %>
    <%= date.day %>
  <% end %>
<% else %>
  <%= month_calendar events:@calendar_events, attribute: :start_time do |date, calendar_events| %>
    <%= date.day %>

    <% calendar_events.each do |calendar_event| %>
      <div>
        <%= calendar_event.title %>
      </div>
    <% end %>
  <% end %>
<% end %>
</div>
