<%= form_for(@thread_message_table) do |f| %>
  <% if @thread_message_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thread_message_table.errors.count, "error") %> prohibited this thread_message_table from being saved:</h2>

      <ul>
      <% @thread_message_table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :thread_id %><br>
    <%= f.number_field :thread_id %>
  </div>
  <div class="field">
    <%= f.label :message_id %><br>
    <%= f.number_field :message_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
