<p id="notice"><%= notice %></p>

<h1>Listing Thread Message Tables</h1>

<table>
  <thead>
    <tr>
      <th>Thread</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @thread_message_tables.each do |thread_message_table| %>
      <tr>
        <td><%= thread_message_table.thread_id %></td>
        <td><%= thread_message_table.message_id %></td>
        <td><%= link_to 'Show', thread_message_table %></td>
        <td><%= link_to 'Edit', edit_thread_message_table_path(thread_message_table) %></td>
        <td><%= link_to 'Destroy', thread_message_table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Thread message table', new_thread_message_table_path %>
