<p id="notice"><%= notice %></p>

<p>
  <strong>Thread:</strong>
  <%= @thread_message_table.thread_id %>
</p>

<p>
  <strong>Message:</strong>
  <%= @thread_message_table.message_id %>
</p>

<%= link_to 'Edit', edit_thread_message_table_path(@thread_message_table) %> |
<%= link_to 'Back', thread_message_tables_path %>
