<div class="ui blue form segment">
  <%= form_for(@class_course) do |f| %>
    <% if @class_course.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@class_course.errors.count, "error") %> prohibited this class_course from being saved:</h2>

        <ul>
        <% @class_course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="two fields">
      <div class="field">
        <%= f.label :year %>
        <%= f.select(:year, [['First Year', 1], ['Second Year', 2], ['Third Year', 3], ['Fourth Year', 4], ['Fifth Year', 5], ['Sixth Year', 6],['NA (Club)', 7]],
         {:prompt => true}, {:class => "ui selection dropdown"}) %>
      </div>
      
      <div class="field">
        <%= f.label :section %>
        <%= text_field_tag :section %>
      </div>
    </div>

    <div class="two fields">
      <div class="field">
        <%= f.label :subject_id %>
        <%= collection_select(:subject_id, :subject_id, Subject.all, :id, :subject_name, {prompt: true}, {:class => "ui selection dropdown"}) %>
      </div>

      <div class="field">
        <%= f.label :teacher_id %>
        <% our_number = Role.where(name: "Teacher") %>
        <%= collection_select(:teacher_id, :id, User.all.where(role_id: our_number), :id, :last_name, {prompt: true}, {:class => "ui selection dropdown", :required => true}) %>
      </div>
    </div>

    <div class="three fields">
      <div class="field">
        <%= f.label :schedule %>
        <%= f.select(:schedule, [['M', 'M'], ['T', 'T'], ['W', 'W'], ['TH', 'TH'], ['F', 'F'], ['SA', 'SA'], ['SU', 'SU']], {:prompt => true}, { :multiple => "", :class => "ui selection dropdown" }) %>
      </div>

      <div class="field">
        <%= f.label :start_time %>
        <%= time_field_tag :start_time %>
      </div>

      <div class="field">
        <%= f.label :end_time %>
        <%= time_field_tag :end_time %>
      </div>
    </div>


    <div class="two fields">
      <div class="field">
        <%= f.label :room %>
        <%= f.text_field :room %>
      </div>

      <div class="field">
        <%= f.label :size %>
        <%= f.number_field :size %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Submit", :class => "ui button" %>
    </div>
  <% end %>
</div>
