<h1 class="ui blue header">
  <%= link_to 'New Class', new_class_course_path, :class => "ui right floated button", 'data-no-turbolink' => true %>
  Classes
</h1>
<div class="ui styled fluid accordion">
  <% years = ["", "First", "Second", "Third", "Fourth", "Fifth", "Sixth"] %>
  <% for i in 1..6 %>
    <div class="title">
      <i class="dropdown icon"></i>
      <%= years[i] %>
    </div>
    <div class="content">
      <div class="ui segment">
        <% @class_courses.each do |class_course| %>
          <% if class_course.is_club == false && class_course.year == i %>
            <%= link_to 'Destroy', class_course, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui right floated red button" %>
            <%= link_to 'Edit', edit_class_course_path(class_course), :class => "ui right floated blue button", 'data-no-turbolink' => true %>
            <%= link_to 'Show', class_course, :class => "ui right floated green button" %>
            <p>
              <%= class_course.name + " " + @subjects.find(class_course.subject_id).subject_name %>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<h1 class="ui blue header">
  <%= link_to 'New Club', class_courses_new_club_path, :class => "ui right floated button", 'data-no-turbolink' => true %>
  Clubs
</h1>

<table class="ui celled striped table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Teacher</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @class_courses.each do |class_course| %>
      <% if class_course.is_club == true %>
        <tr>
          <td><%= class_course.name + " " + @subjects.find(class_course.subject_id).subject_name %></td>
          <td><%= class_course.teacher_id.nil? ? "None" : User.find(class_course.teacher_id).first_name.to_s + " " + User.find(class_course.teacher_id).last_name.to_s %>
          </td>

          <td><%= link_to 'Destroy', class_course, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui right floated red button" %>
          <%= link_to 'Edit', edit_class_course_path(class_course), :class => "ui right floated blue button", 'data-no-turbolink' => true %>
          <%= link_to 'Show', class_course, :class => "ui right floated green button" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
