<h1 class="ui blue header">
  <%= link_to 'Back', class_courses_path, 'data-no-turbolink' => true, :class => "ui right floated button" %>
  <%= link_to 'Edit', edit_class_course_path(@class_course), :class => "ui blue right floated button", "data-no-turbolink": true %>
  <%= @class_course.name + " " + @class_course.subject.subject_name %>
</h1>

<div class="ui blue stacked segment">
  <h3 class="ui blue header">
    Details
  </h3>
  <p>
    <strong>Id: </strong><%= @class_course.id %><br>
    <% if @class_course.year != 7 %>
      <strong>Year: </strong><%= @class_course.year %><br>
    <% end %>
    <strong>Teacher: </strong><%= @class_course.teacher_id.nil? ? "None" : User.find(@class_course.teacher_id).first_name.to_s + " " + User.find(@class_course.teacher_id).last_name.to_s  %><br>
    <strong>Schedule: </strong><%= @class_course.schedule %><br>
    <strong>Room: </strong><%= @class_course.room %><br>
    <strong>Size: </strong><%= @class_course.size %>
  </p>
</div>

<h2 class="ui blue header">
  <%= button_to 'Edit List', class_lists_new_view_path, params: { class_course_id: params[:id].to_s } , :class => "ui blue right floated button"%>
  List of Students
</h2>

<div class="ui blue stacked segment">
  <% @classes_lists.each do |classes_list| %>
    <%= link_to 'Delete', classes_list, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui right floated red button" %>
    <p>
      <%= classes_list.user.name + " (" + classes_list.status + ")"%>
    </p>
    <div class="ui blue divider"></div>
  <% end %>
</div>

<h2 class="ui blue header">
  <%= button_to 'New Announcement', posts_new_path, params: { id: params[:id].to_s, :announcement => "true" } , :class => "ui right floated button"%>
  Announcements
</h2>
<div class="ui blue stacked segment">
  <% @posts.each do |post| %>
    <% if post.document_file_name == nil %>
      <%= button_to 'Delete', post_path(:id => post.id, :course_id => params[:id].to_s), method: :delete, data: {confirm: 'Are you sure?'}, :class => "ui red right floated button" %>
      <%= button_to 'Edit', edit_post_path(post), params: { course_id: params[:id].to_s }, :class => "ui blue right floated button" %>
      <%= button_to 'Show', post, params: { course_id: params[:id].to_s }, :class => "ui green right floated button" %>
      <p>
        <%= post.caption %>
      </p>
      <div class="ui blue divider"></div>
    <% end %>
  <% end %>
</div>

<h2 class="ui blue header">
  <%= button_to 'New Post', posts_new_path, params: { id: params[:id].to_s, :announcement => "false" } , :class => "ui right floated button"%>
  Posts
</h2>

<div class="ui blue stacked segment">
  <% @posts.each do |post| %>
    <% if post.document_file_name != nil %>
      <%= button_to 'Delete', post_path(:id => post.id, :course_id => params[:id].to_s), method: :delete, data: {confirm: 'Are you sure?'}, :class => "ui red right floated button" %>
      <%= button_to 'Edit', edit_post_path(post), params: { course_id: params[:id].to_s }, :class => "ui blue right floated button" %>
      <%= button_to 'Show', post, params: { course_id: params[:id].to_s }, :class => "ui green right floated button" %>
      <p>
        <%= post.caption %>
      </p>
      <div class="ui blue divider"></div>
    <% end %>
  <% end %>
</div>
