<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ui blue form segment">
      <h4 class="ui header">Personal Data</h4>
      <div class="four fields">
          <div class="required field">
              <%= f.label :first_name %>
              <%= f.text_field :first_name, :placeholder => "First Name" %>
          </div>
          <div class="required field">
            <%= f.label :middle_name %>
            <%= f.text_field :middle_name, :placeholder => "Middle Name" %>
          </div>
          <div class="required field">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, :placeholder => "Last Name" %>
          </div>
          <div class="field">
            <%= f.label :suffix %>
            <%= f.text_field :suffix, :placeholder => "Suffix (e.g. Jr, Sr., III)" %>
          </div>
      </div>

      <div class="two required fields">
        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, placeholder: "Enter Password" %>
        </div>
        <div class="field">
          <%= f.label "Confirm Password" %>
          <%= f.password_field :confirm_password, placeholder: "Confirm Password" %>
        </div>
      </div>

      <h4 class="ui header">Address</h4>
      <div class="required field">
          <%= f.label "Street Address" %>
          <%= f.text_field :street_address, placeholder: "Street Address" %>
      </div>
      <div class="three required fields">
          <div class="field">
              <%= f.label "Postal Code" %>
              <%= f.text_field :postal_code, placeholder: "Postal Code" %>
          </div>
          <div class="field">
              <%= f.label "Barangay/City" %>
              <%= f.text_field :barangay, placeholder: "Barangay/City" %>
          </div>
          <div class="field">
              <%= f.label "Province" %>
              <%= f.text_field :province, placeholder: "Province" %>
          </div>
      </div>
      <h4 class="ui header">Others</h4>
      <div class="three required fields">
          <div class="field">
            <%= f.label :phone_number %>
            <%= f.text_field :phone_number, :placeholder => "Mobile Number" %>
          </div>
          <div class="field">
            <%= f.label :email %>
            <%= f.text_field :email, :placeholder => "E-mail" %>
          </div>
          <div class="field">
            <div class="required field">
                <%= f.label :birthday %>
                <%= f.text_field :birthday, :class => "datepicker" %>
            </div>
          </div>
      </div>

      <h4 class="ui header">Guardian (for students only)</h4>
      <div class="three fields">
          <div class="field">
              <%= f.label "Name" %>
              <%= f.text_field :guardian_name, placeholder: "Guardian Full Name" %>
          </div>
          <div class="field">
              <%= f.label "Relationship" %>
              <%= f.text_field :guardian_relationship, placeholder: "Relationship" %>
          </div>
          <div class="field">

              <%= f.label "Contact Number" %>
              <%= f.text_field :guardian_contact_number, placeholder: "Contact Number" %>
          </div>
      </div>
      <h4 class="ui header">User Data</h4>
      <div class="two fields">
        <div class="required field">
          <%= f.label :role_id %>
          <%= collection_select(:user, :role_id, Role.all, :id, :name, {prompt: true}, {:class => "ui selection dropdown"}) %>
        </div>
        <div class="required field">
            <%= f.label :valid_till %>
            <%= f.text_field :valid_till, :class => "datepicker" %>
        </div>
      </div>
      <div class="actions">
        <%= f.submit 'Submit', data: { confirm: 'Are you sure you want to submit?' }, :class => "ui button" %>
      </div>
  </div>
<% end %>
