<%= form_tag destroy_multiple_users_path, :method => :delete do %>
<h1 class="ui blue header">
  <%= submit_tag 'Delete Selected', data:{confirm: 'Are you sure?'}, :class => "ui red right floated button" %>
  <%= link_to 'New User', new_user_path, :class => "ui right floated button", "data-no-turbolink" => true%>
  Users
</h1>
<div class="ui styled fluid accordion">
  <% for i in 0..(@highest - 1) %>
    <div class="title">
      <i class="dropdown icon"></i>
      <%=  @roles[i].name %>
    </div>
    <div class="content">
      <div class="ui segment">
        <% @users.each do |user| %>
          <% if user.role_id == (i + 1) %>
            <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui right floated red button" %>
            <%= link_to 'Edit', edit_user_path(user), :class=> "ui right floated blue button", "data-no-turbolink": true %>
            <%= link_to 'Show', user, :class => "ui right floated green button" %>
            <p>
              <%= check_box_tag 'user_ids[]', user.id %>
              <%= user.first_name + " " + user.middle_name + " " + user.last_name %>
              <% if user.suffix == "junior" %>
                Jr.
              <% elsif user.suffix == "senior" %>
                Sr.
              <% else %>
                <%= user.suffix %>
              <% end %>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<% end %>

<div class="ui segment">
  <h3 class="ui blue header">Import Users By Batch: </h3>
  <%= form_tag import_users_path, multipart: true do%>
    <%= file_field_tag :input_file, required: true%>
    <%= submit_tag "Import CSV", :class => "ui right floated button" %>
  <% end %>
</div>

<div class="ui segment">
  <h3 class="ui blue header">Delete Users </h3>
  <%= form_tag deletebybatch_users_path, multipart: true do %>
    <%= file_field_tag :input_file, required: true%>
    <%= submit_tag "Delete batch by CSV", :class => "ui right floated button" %>
  <% end %>

</div>

<div class="ui blue divider"></div>

<h1 class="ui blue header">
  <%= link_to 'New Role', new_role_path, :class => "ui right floated button" %>
  User Roles
</h1>
<table class="ui celled striped selectable table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td><%= role.description %></td>
        <td><%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui right floated red button" %>
        <%= link_to 'Edit', edit_role_path(role), :class => "ui right floated blue button" %>
      </tr>
    <% end %>
  </tbody>
</table>
