<h1 class="ui blue header">
  <div data-no-turbolink><%= link_to 'Back', users_path, :class=>"ui right floated button" %></div>
  <%= link_to 'Edit', edit_user_path(@user), :class=>"ui blue right floated button", "data-no-turbolink": true %>
  <%= @user.first_name + " " + @user.middle_name + " " + @user.last_name + " " %>
  <% if @user.suffix == "junior" %>
    Jr.
  <% elsif @user.suffix == "senior" %>
    Sr.
  <% else %>
    <%= @user.suffix.upcase %>
  <% end %>
  (<%= @user.username %>)
</h1>
<div class="ui blue segment">
  <h3 class="ui blue header">Account Details</h3>
  <p>
    <strong>Role: </strong><%= @user.role.name %><br>
    <strong>Joined on:</strong><%= @joined_on %><br>
    <strong>Valid till: </strong><%= @user.valid_till %><br>
    <strong>Last logged in on: </strong><%= @last_login %><br>
    <strong>No. times logged in: </strong><%= @user.sign_in_count %>
  </p>
  <div class="ui blue divider"></div>
  <h3 class="ui blue header">Contact Details</h3>
  <p>
    <strong>Email: </strong><%= @user.email %><br>
    <strong>Phone number: </strong><%= @user.phone_number %>
  </p>
</div>
