<div class="ui blue form segment">
  <%= form_for(@thread_message) do |f| %>
    <% if @thread_message.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@thread_message.errors.count, "error") %> prohibited this thread_message from being saved:</h2>

        <ul>
        <% @thread_message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="four fields">
      <div class="field">
        <%= f.label :thread_name %><br>
        <%= f.text_field :thread_name, :required => true %>
      </div>
      <div class="field">
        <%= f.label :string %><br>
        <%= f.text_field :string, :required => true %>
      </div>
      <div class="field">
        <%= f.label :group_id %><br>
        <% if current_user.admin? %>
          <% group_list = Group.all %>
        <% elsif current_user.teacher? %>
          <% group_list_all = Group.all %>
          <% group_list = Array.new %>
          <% (0..group_list_all.length-1).each do |i| %>
            <% if ClassCourse.find(group_list_all[i].class_id).teacher_id == current_user.id %>
              <% group_list.push(group_list_all[i]) %>
            <% end %>
          <% end %>
        <% end %>
        <% (0..group_list.length-1).each do |i| %>
            <% @class_course_elem = ClassCourse.find_by_id(group_list[i].class_id) %>
            <% @subject_elem = Subject.find_by_id(@class_course_elem.subject_id).subject_name %>
            <% group_list[i].group_name = group_list[i].group_name + " (from " + @subject_elem + " " + @class_course_elem.name + ")" %>
        <% end %>
        <%= collection_select(:group_id, :id, group_list, :id, :group_name.to_s, {prompt: true}, {required: true, :class => "ui selection dropdown"}) %>

      </div>
      <div class="field">
        <%= f.label :expiry_date %><br>
        <%= f.date_field :expiry_date, :value => 5.years.from_now.strftime('%Y-%m-%d'), :class => "datepicker", :required => true %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "Submit", :class => "ui button" %>
    </div>
  <% end %>
</div>
