<p id="notice"><%= notice %></p>

<h1>Listing Thread Messages</h1>

<table>
  <thead>
    <tr>
      <th>Thread name</th>
      <th>String</th>
      <th>Group</th>
      <th>Expiry date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @thread_messages.each do |thread_message| %>
      <tr>
        <td><%= thread_message.thread_name %></td>
        <td><%= thread_message.string %></td>
        <td><%= thread_message.group_id %></td>
        <td><%= thread_message.expiry_date %></td>
        <td><%= link_to 'Show', thread_message %></td>
        <td><%= link_to 'Edit', edit_thread_message_path(thread_message) %></td>
        <td><%= link_to 'Destroy', thread_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Thread message', new_thread_message_path %>
