<p id="notice"><%= notice %></p>

<p>
  <strong>Thread name:</strong>
  <%= @thread_message.thread_name %>
</p>

<p>
  <strong>String:</strong>
  <%= @thread_message.string %>
</p>

<p>
  <strong>Group:</strong>
  <%= @thread_message.group_id %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @thread_message.expiry_date %>
</p>

<%= link_to 'Edit', edit_thread_message_path(@thread_message) %> |
<%= link_to 'Back', thread_messages_path %>
