<h1>Editing Employee List</h1>

<%= form_for(@employee_list) do |f| %>
  <% if @employee_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee_list.errors.count, "error") %> prohibited this employee_list from being saved:</h2>

      <ul>
      <% @employee_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= collection_select(:user_id, :user_id, User.all, :id, :first_name, {prompt: true}, {:required => true}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Show', @employee_list %> |
<%= link_to 'Back', employee_lists_path %>
