<h1 class="ui blue header">
  <%= link_to 'New Employee', new_employee_list_path, :class => "ui right floated button" %>
  Employees
</h1>
<h1>Listing Employee Lists</h1>

<table class="ui celled striped selectable table">
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employee_lists.each do |employee_list| %>
      <tr>
        <td><%= employee_list.title %></td>
        <td><%= employee_list.user.id.nil? ? "None" : @users.find(employee_list.user.id).first_name + " " + @users.find(employee_list.user.id).last_name %></td>
        <td><%= link_to 'Destroy', employee_list, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui right floated red button" %>
        <%= link_to 'Edit', edit_employee_list_path(employee_list), :class => "ui right floated blue button" %>
        <%= link_to 'Show', employee_list, :class => "ui right floated green button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
