<p>
  <strong>Title:</strong>
  <%= @employee_list.title %>
</p>

<p>
  <strong>User:</strong>
  <td><%= @employee_list.user.id.nil? ? "None" : User.find(@employee_list.user.id).first_name + " " + User.find(@employee_list.user.id).last_name %></td>
</p>

<%= link_to 'Edit', edit_employee_list_path(@employee_list) %> |
<%= link_to 'Back', employee_lists_path %>
