<div class="ui landpage-image">
  <div class="ui grid" id="header">
    <div class="row">
      <div class="seven wide column"></div>
      <div class="two wide column">
        <%= image_tag("MSHS_logo.png", :id => "homepage_logo") %>
      </div>
      <div class="seven wide column"></div>
    </div>

    <div class="row">
      <div class="five wide column"></div>
      <div class="six wide column"><h1>Manila Science High School</h1></div>
      <div class="five wide column"></div>
    </div>

    <div class="row">
      <div class="five wide column"></div>
      <div class="six wide column" id="h2_col"><h2>Learning Management System</h2></div>
      <div class="five wide column"></div>
    </div>
  </div>

  <div class="ui three column grid" id="form">
    <div class="row">
      <div class="column"></div>
      <div class="column">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="ui form segment" id="sign_in">
            <% flash.each do |name, msg| %>



              <!-- We need only to print notice and alert flashes (and maybe even warning). There is a known issue in devise where we get this: http://stackoverflow.com/questions/20547432/flash-timedout-true-when-user-session-expires-in-rails-using-devise. -->

              <% if name == "notice" || name == "alert" %>
                <% if msg != "Signed out successfully." %>
                  <%= content_tag :div, class: ["ui", name, "message"] do -%>
                    <i class="close icon"></i>
                    <div class="header"><%= content_tag :div, msg, id: "flash_#{name}" %></div>
                    <p></p>

                  <% end -%>
                <% end %>
              <% end %>
            <% end %>


            <div class="field">
              <label id="user_label">Username</label>
              <div class="ui left icon input">
                <i class="users icon"></i>
                <%= f.text_field :username, autofocus: true%>
              </div>
            </div>

            <div class="field">
              <label id="pass_label">Password</label>
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <%= f.password_field :password, autocomplete: "off" %>
              </div>
            </div>

            <!--<% if devise_mapping.rememberable? -%>
              <div class="ui checkbox">
                <%= f.check_box :remember_me %>
                <label id="remember_label">Remember Me</label>
              </div>
            <% end -%>-->

            <%= f.submit "Log In", class: "ui submit button", id: "sign_in_button"%>
          <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
