#navbar{
  background-color: #ecf0f1;
  position:absolute;
  width: 100%;
}

#right_navbar{
  padding: 5px;
  color: #2a3a85;
  text-align: right;
  right: 1.5vw;
}

#logo>img{
  height: 71px;
  width: 350px;
}

#logout>img{
  height: 46px;
  width: 69px;
}

#minibar{
  top: 12vh;
  background-color: #4157bb;
  position:absolute;
  text-align: center;
  color: #fafafa;
  width: 100%;
}
